@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* Initialization */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/* Utilities classes */
.mx-10 {
  margin: 10px;
}

img {
  width: 100vw;
}

li, a {
  color: #ff7f50;
}

p {
  font-size: 20px;
}